*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #fff;
    background-color: #333;
    text-align: center;
    font-family: 'Laila', sans-serif;
}

nav h1{
    padding-top: 5%;
    font-family: 'Assistant', sans-serif;
    font-size: 90px;
    font-weight: 100;
}
.image img{
    width: 350px;
}

.main-container{
    padding-top: 10px;
    line-height: 4rem;
}

.icons i{
    padding: 0 10px 0 10px;
    color: gray;
    font-size: 29px;
}

.icons i:hover{
    color: white;
}

span{
    color: palegoldenrod
}

a{
    text-decoration: none;
    color: palegoldenrod;
}

a:hover{
    color:blanchedalmond;
}

.name{
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.title2{
    font-size: 30px;;
}

.name2{
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    color:burlywood;
    padding-top: 50px;
}

.pre-save-link{
    padding-top: 40px;
    color: rgb(134, 133, 133)
}

.pre-save-link a{
    color: rgb(134, 133, 133)
}

.pre-save-link a:hover{
    color: rgb(197, 192, 192)
}

.pre-save-link{
    color: #fff;
}